NEXT_PUBLIC_API_BASE_URL={{ web_next_public_api_base_url }}
AGGREGATOR_API_BASE_URL={{ aggregator_internal_api_base_url | default('http://aggregator:8000') }}
AGG_ALLOWED_ORIGINS={{ agg_allowed_origins }}
MQTT_TOPIC={{ agg_mqtt_topic | default('#') }}
OUTSIDE_TEMPERATURE_TOPIC={{ outside_temperature_topic | default('pogoda/temperatura/zewn') }}
OUTSIDE_TEMPERATURE_ENABLED={{ (outside_temperature_enabled | default(true)) | ternary('true', 'false') }}
OUTSIDE_TEMPERATURE_BASELINE={{ outside_temperature_baseline | default(18.0) }}
OUTSIDE_TEMPERATURE_VARIATION={{ outside_temperature_variation | default(2.5) }}
OUTSIDE_TEMPERATURE_INTERVAL_SECONDS={{ outside_temperature_interval_seconds | default(300) }}
OUTSIDE_TEMPERATURE_API_BASE_URL={{ outside_temperature_api_base_url | default('https://api.open-meteo.com/v1/forecast') }}
OUTSIDE_TEMPERATURE_LATITUDE={{ outside_temperature_latitude | default(52.2297) }}
OUTSIDE_TEMPERATURE_LONGITUDE={{ outside_temperature_longitude | default(21.0122) }}
OUTSIDE_TEMPERATURE_TIMEZONE={{ outside_temperature_timezone | default('Europe/Warsaw') }}
OUTSIDE_TEMPERATURE_USER_AGENT={{ outside_temperature_user_agent | default('cieplarnia-aggregator') }}
